<footer class="footer">
    <div class="box-container">
        <div class="footer__top">
            <div class="footer__top-info">
                <div class="footer__top-info__item">
                    <div class="footer__top-info__item-img">
                        <img src="{{ 'assets/images/footer/geo.svg'|theme }}" alt="">
                    </div>
                    <p>Office 2504, 25th floor, Ontario Tower, Business Bay, Dubai, UAE</p>
                </div>

                <div class="footer__top-info__item">
                    <a href="tel:+971569421220">
                        <div class="footer__top-info__item-img">
                            <img src="{{ 'assets/images/footer/phone.svg'|theme }}" alt="">
                        </div>
                    </a>
                    
                    <p>
                        <a href="tel:+971569421220">+971 56 942 1220</a>
                    </p>
                </div>

                <div class="footer__top-info__item">
                    <a href="mailto:sales@golden-ratio.ae">
                        <div class="footer__top-info__item-img">
                            <img src="{{ 'assets/images/footer/mail.svg'|theme }}" alt="">
                        </div>
                    </a>
                    
                    <p>
                        <a href="mailto:sales@golden-ratio.ae">sales@golden-ratio.ae</a>
                    </p>
                </div>

                <div class="footer__top-info__item">
                    <a href="http://www.instagram.com/golden_ratio_uae">
                        <div class="footer__top-info__item-img">
                            <img src="{{ 'assets/images/footer/insta.svg'|theme }}" alt="">
                        </div>
                    </a>
                    
                    <p>
                        <a href="http://www.instagram.com/golden_ratio_uae">golden_ratio_uae</a>
                    </p>
                </div>
            </div>

            <img src="{{ 'assets/images/logo.svg?ver=123'|theme }}" alt="" class="footer-top__img">
        </div>
        <div class="footer-btn__wrapper">
            <script data-b24-form="click/10/2lqj1v" data-skip-moving="true">
                (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                })(window,document,'https://cdn-ru.bitrix24.ru/b24247626/crm/form/loader_10.js');
            </script>
        </div>
        <div class="footer__bottom">
            <p class="copyright">Copyright © 2023</p>

            <ul>
                <li><a href="#">Legal notice</a></li>
                <li><a href="#">Terms & conditions</a></li>
                <li><a href="#">Privace policy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</footer>

<div class="active-dialog">
    <div class="active-dialog__btn whatsapp">
        <div class="active-dialog__btn__wrapper">
            <a href="https://wa.me/971569421220"><img src="{{ 'assets/images/footer/whatsapp.svg'|theme }}" alt=""></a>
        </div>
    </div>
    <div class="contact-form_small">
        <h2>Contact us</h2>
        <input type="text" name="" id="" placeholder="Name">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Phone">
        <button class="send-btn">Send</button>
    </div>
    <div class="active-dialog__btn whatsapp-btn" data-item="{{ 'assets/images/footer/chat1.svg'|theme }}">
        <img src="{{ 'assets/images/footer/chat1.svg'|theme }}" alt="">
    </div>
    <div class="active-dialog__btn contact-btn" data-item="{{ 'assets/images/footer/chat2.svg'|theme }}">
        <img src="{{ 'assets/images/footer/chat2.svg'|theme }}" alt="">
    </div>
</div>