<header>
    <div class="header-nav header-nav_mod">
        <a href="/" class="header-link">
            <img src="{{ 'assets/images/logo-header_black.svg'|theme }}" alt="">
        </a>
        <nav>
            <ul>
                <li><a href="/">main</a></li>
                <li><a href="/tableware">tableware</a></li>
                <li><a href="/glassware">glassware</a></li>
                <li><a href="/kitchenware">kitchenware</a></li>
                <li><a href="/poolware">poolware</a></li>
                <li><a href="/cutlery">cutlery</a></li>
                <li><a href="/wood">wood</a></li>
                <li><a href="/contacts">contacts</a></li>
            </ul>
        </nav>

        <div class="menu-btn">
            <img src="{{ 'assets/images/menu_black.svg'|theme }}" alt="">
        </div>
    </div>

    <div class="mobile-menu">
        <div class="mobile-menu__wrapper">
            <img src="{{ 'assets/images/menu-img.svg?ver=123'|theme }}" alt="">

            <ul>
                <li><a href="/">main</a></li>
                <li><a href="/tableware">tableware</a></li>
                <li><a href="/glassware">glassware</a></li>
                <li><a href="/kitchenware">kitchenware</a></li>
                <li><a href="/poolware">poolware</a></li>
                <li><a href="/cutlery">cutlery</a></li>
                <li><a href="/wood">wood</a></li>
                <li><a href="/contacts">contacts</a></li>
            </ul>
        </div>
    </div>
</header>