<header>
    <div class="header-nav">
        <a href="/" class="header-link">
            <img src="{{ 'assets/images/logo-header.svg'|theme }}" alt="">
        </a>
        <nav>
            <ul>
                <li><a href="/">main</a></li>
                <li><a href="/tableware">tableware</a></li>
                <li><a href="/glassware">glassware</a></li>
                <li><a href="/cutlery">cutlery</a></li>
                <li><a href="/outdoor">outdoor</a></li>
                <li><a href="/flowerpots">flowerpots</a></li>
                <li><a href="/lighting">lighting</a></li>
                <li><a href="/wood">wood</a></li>
                <li><a href="/contacts">contacts</a></li>
            </ul>
        </nav>

        <div class="menu-btn">
            <img src="{{ 'assets/images/menu.svg'|theme }}" alt="">
        </div>
    </div>

    <div class="mobile-menu">
        <div class="mobile-menu__wrapper">
            <img src="{{ 'assets/images/menu-img.svg'|theme }}" alt="">

            <ul>
                <li><a href="/">main</a></li>
                <li><a href="/tableware">tableware</a></li>
                <li><a href="/glassware">glassware</a></li>
                <li><a href="/cutlery">cutlery</a></li>
                <li><a href="/outdoor">outdoor</a></li>
                <li><a href="/flowerpots">flowerpots</a></li>
                <li><a href="/lighting">lighting</a></li>
                <li><a href="/wood">wood</a></li>
                <li><a href="/contacts">contacts</a></li>
            </ul>
        </div>
    </div>
</header>