@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

body{
    font-family: 'Lato', sans-serif;
}

header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    height: 90px;
    padding: 0 30px;
    display: flex;
    align-items: center;

    .header-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    
        .header-link{
            img{
                width: 50px;
            }
            position: absolute;
            left: 40px;
            top: 20px;
        }

        ul{
            display: flex;
            list-style: none;
            
            li{
                font-size: 18px;

                a{
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: 0.3s all ease;
                    position: relative;

                    &:hover{
                        color: #dddddd;
                    }
                }
            }

            li+li{
                margin-left: 40px;
            }
        }

        .active{
            &::before{
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: center;
                content: '•';
                top: 18px;
                font-size: 25px;
            }
        }
    }
    
    .header-nav_mod{
        ul{
            li{
                a{
                    color: #000;
                }
            } 
        } 
    }

    .menu-btn{
        display: none;
    }

    .mobile-menu{
        display: none;
    }
}

.banner-big{
    width: 100%;
    height: 870px;
    position: relative;
    overflow: hidden;

    .banner-big__content{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;

        .main-logo{
            width: 480px;
        }

        .logo{
            width: 250px;
        }

        .logo_mod{
            width: 200px;
        }

        .download-link{
            display: flex;
            margin-top: 30px;
            text-decoration: none;

            .download-catalog{
                height: 50px;
                width: 250px;
                border: none;
                background-color: transparent;
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                border: 1px solid #fff;
                transition: 0.3s all ease;
                cursor: pointer;

                &:hover {
                    color: #000;
                    background-color: #fff;
                }
            }
        }

        h1{
            font-size: 56px;
        }

        p{
            margin-top: 10px;
            font-size: 40px;
        }
    }

    .banner-big-bg{
        height: 100%;
        width: 100%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.banner-big_mod{
    .banner-big__content{
        h1{
            color: #000;
            padding: 6px 18px;
            background: #F3EFE6;
        }
    } 
}

.info-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;

    .info-block__text{
        width: 50%;
        height: 100%;
        padding: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1,h2{
            width: 100%;
            margin-bottom: 30px;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
        }

        p{
            width: 100%;
            font-size: 20px;
            font-weight: 300;
            line-height: 150%;
        }

        p+p{
            margin-top: 30px;
        }

        p+h2{
            margin-top: 30px;
        }
    }

    .info-block__img{
        width: 50%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

.download-wrapper{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    a{
        text-decoration: none;
    }

    button{
        border: none;
        background-color: #9EA08A;
        color: #fff;
        width: 300px;
        height: 50px;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
    }
}

.big-menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .big-menu__link{
        display: flex;
        $width: calc(100% / 3);
        width: $width;
        height: 550px;
        overflow: hidden;


        .big-menu__item{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            .big-menu__item-content{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 200;

                p{
                    font-size: 32px;
                    line-height: 140%;
                    font-weight: 600;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                }

                img{
                    width: 250px;
                    height: auto;
                    filter: brightness(1.1);
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(0.7);
                transition: 0.3s all ease;
            }

            .big-menu__item-content_mod{
                img{
                    width: 150px;
                }
            }
        }
    }

    .big-menu__link_single{
        width: 100%;
    }

    .big-menu__link_double{
        width: 50%;
    }
}

.box-container{
    width: 1180px;
    margin: auto;
}

.footer{
    width: 100%;
    padding: 70px 0;

    .footer__top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer-top__img{
            width: 140px;
        }

        .footer__top-info__item{
            display: flex;
            align-items: center;

            .footer__top-info__item-img{
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            p{
                margin-left: 10px;
                font-size: 14px;
            }

            a {
                text-decoration: none;
                color: #000;
            }
        }

        .footer__top-info__item+.footer__top-info__item{
            margin-top: 5px;
        }
    }

    .footer-btn__wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-btn{
            height: 35px;
            cursor: pointer;
            background-color: #000;
            border: none;
            color: #fff;
            font-weight: 600;
            width: 192px;
            font-size: 14px;
            margin-top: 20px;
            transition: 0.3s all ease;

            &:hover{
                background-color: #4d4d4d;
            }
        }
    }

    .footer__bottom{
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            list-style: none;

            li{
                a{
                    text-decoration: none;
                    color: #000;
                    transition: 0.3s all ease;

                    &:hover{
                        color: #5c5c5c;
                    }
                }
            }

            li+li{
                margin-left: 20px;
            }
        }
    }
}

.active-dialog{
    position: fixed;
    bottom: 50px;
    right: 15px;
    display: flex;
    flex-direction: column;
    z-index: 300;
    
    .active-dialog__btn{
        width: 60px;
        height: 60px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transition: 0.3s all ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-top: 10px;

        &:hover{
            box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
        }

        .active-dialog__btn__wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

    .contact-form_small{
        position: absolute;
        right: 0;
        bottom: 65px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 40px;
        width: 280px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: none;

        h2{
            text-transform: uppercase;
            font-size: 24px;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

        input{
            width: 100%;
            height: 35px;
            padding: 0 10px;
            border: 1px solid #ccc;
            margin-top: 10px;
        }

        button{
            width: 100%;
            height: 35px;
            background: #9EA08A;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            color: #fff;
            margin-top: 20px;
        }
    }

    .whatsapp{
        display: none;
    }
}

.contacts-block{
    display: flex;
    
    .contacts-block__img{
        height: 600px;
        width: 50%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .contacts-block__form{
        width: 50%;
        height: 600px;
        padding: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        .contacts-block__form-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            input{
                width: 100%;
                height: 60px;
                padding: 0 20px;
                font-size: 18px;
                margin-top: 12px;
                border: 1px solid #b9b9b9;
            }

            textarea{
                width: 100%;
                height: 150px;
                font-family: 'Lato', sans-serif;
                padding: 20px;
                font-size: 18px;
                margin-top: 12px;
                border: 1px solid #b9b9b9;
            }

            button{
                cursor: pointer;
                background-color: #989b86;
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                margin-top: 30px;
                border: none;
                height: 45px;
                width: 150px;
            }
        }
    }
}

.contact-data{
    display: flex;
    
    .contact-info{
        width: 50%;
        height: 600px;
        padding: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        h2{
            font-size: 30px;
        }

        .contact-info__item{
            display: flex;
            align-items: center;
            margin-top: 30px;

            p{
                font-weight: 300;
                font-size: 20px;
                margin-left: 20px;

                a{
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }

    .contact-map{
        width: 50%;
        height: 600px;
    }
}


@media(max-width: 1400px) {
    header{
        .header-nav{
            ul{
                li{
                    font-size: 16px;
                }

                li+li{
                    margin-left: 25px;
                }
            }
        } 
    } 

    .banner-big {
        height: 700px;
    }

    .info-block{
        height: 600px;
    }

    .big-menu{
        .big-menu__link{
            height: 450px;
        }
    } 
}

@media(max-width: 1200px) {
    header{
        .header-nav{
            .header-link{
                left: 25px;
            }
            ul{
                li{
                    font-size: 14px;
                }

                li+li{
                    margin-left: 15px;
                }
            }
        } 
    } 

    .banner-big{
        .banner-big__content{
            .main-logo{
                width: 400px;
            }
        } 
    } 

    .info-block{
        height: 450px;

        .info-block__text{
            padding: 40px;

            p{
                font-size: 16px;
            }
        }
    }

    .big-menu{
        .big-menu__link{
            height: 350px;
        }
    } 


    .box-container{
        width: 850px;
    }

    .footer{
        .footer__top{
            .footer-top__img{
                width: 90px;
            }
        } 

        .footer__bottom{
            ul{
                li{
                    font-size: 14px;
                }
            } 
        } 
    } 
}


@media(max-width: 800px) {
    .banner-big{
        height: 100vh;
        .banner-big__content{
            padding: 30px;

            .main-logo{
                width: 100%;
            }

            img{
                width: 100%;
            }

            h1{
                font-size: 38px;
            }

            p{
                font-size: 28px;
            }
        }
        .banner-big-bg{
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        } 
    } 

    .box-container{
        width: 80%;
    }

    header{
        padding: 0 15px;

        .header-nav{
            justify-content: flex-end;

            .header-link{
                left: 5px;
            }

            nav{
                display: none;
            }

            .menu-btn{
                display: flex;
                width: 60px;
                height: 60px;
                background-color: #fff;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
    
                img{
                    width: 30px;
                }
            }
        } 

        .mobile-menu{
            position: absolute;
            z-index: 3000;
            background-color: #fff;
            top: 100px;
            width: 80%;
            left: 10%;
            padding: 30px 20px;
            border-radius: 10px;
            

            .mobile-menu__wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;

                ul{
                    list-style: none;
                    width: 100%;
                    margin-top: 20px;
                    
                    li{
                        width: 100%;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 300;
                        text-transform: uppercase;
                        margin-top: 10px;

                        a{
                            text-decoration: none;
                            color: #333;
                        }
                    }
                }
            }
        }
    }

    .info-block{
        height: auto;
        flex-direction: column;

        .info-block__text{
            width: 100%;
            padding: 25px;
            height: auto;
        }

        .info-block__img{
            width: 100%;
            height: 350px;
        }
    }

    .info-block_reverse{
        flex-direction: column-reverse;
    }

    .big-menu{
        .big-menu__link{
            width: 100%;

            .big-menu__item{
                .big-menu__item-content{
                    img{
                        width: 200px;
                    }
                } 
            } 
        }
    } 

    .footer{
        padding: 40px 0;
        .footer__top{
            flex-direction: column-reverse;
            justify-content: center;

            .footer__top-info{
                margin-top: 40px;
                margin-bottom: 40px;
                width: 100%;
            }
        }

        .footer__bottom{
            margin-top: 40px;
            flex-direction: column-reverse;
            justify-content: center;

            ul{
                flex-direction: column;

                li{
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                }

                li+li{
                    margin-left: 0;
                    margin-top: 10px;
                }
            }

            .copyright{
                margin-top: 40px;
            }
        }
    } 

    .contacts-block{
        flex-direction: column-reverse;

        .contacts-block__form{
            width: 100%;
            padding: 30px;
        }

        .contacts-block__img{
            width: 100%;
            height: 400px;
        }
    }

    .contact-data{
        flex-direction: column;

        .contact-info{
            width: 100%;
            height: auto;
            padding: 30px;

            h2{
                margin-bottom: 20px;
            }

            .contact-info__item{
                margin-top: 15px;

                p{
                    font-size: 16px;
                }
            }
        }

        .contact-map{
            width: 100%;
            height: 400px;
        }
    }
}

.golden-ratio__banner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: #979A85;

    .left-corner{
        position: absolute;
        width: 236px !important;
        right: 0;
        top: 0;
    }

    .right-corner{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 448px !important;
    }
    
    .golden-ratio__banner-text{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        color: #fff;
        text-transform: uppercase;
        font-size: 40px;

        h1{
            font-size: 40px;
            font-weight: 500;
        }

        p{
            width: 775px;
            text-align: center;
            font-weight: 300;
        }
    }

    .golden-ratio__banner-info{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 40px 0;

        .golden-ratio__banner-text-line{
            width: 100%;
            background-color: #fff;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 40px;

            p{
                color: #1D1D1B;
                font-size: 17px;
            }
        }
    }
}