description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.meta_title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Golden Ratio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ 'assets/images/favicon.svg?ver=123'|theme }}" type="image/svg+xml">
        <link href="{{ 'assets/css/style.css?ver=32341'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        {% partial 'site/header-black' %}

        <!-- Content -->
        {% page %}

        <!-- Footer -->
        {% partial 'site/footer' %}

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{ 'assets/js/main.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
